<!doctype html>
<html lang='en'>
  <head>
    <meta charst='utf-8'>
    <title>Calculator</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <p>
      the result is <%= @result %>   <!-- Instance variable -->
    </p>
  </body>
</html>