<!doctype html>
<html lang='en'>
  <head>
    <meta charst='utf-8'>
    <title>Calculator</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <header>
      <h1>My awesome calculator</h1>
      <nav>
        <ul>
          <li><a href='/basic_calc'>Basic calculator</a></li>
          <li><a href='/bmi_calc'>BMI calculator</a></li>
          <li><a href='/mortgage_calc'>Mortgage calculator</a></li>
          <li><a href='/trip_calc'>Trip calculator</a></li>

        </ul>
      </nav>
    </header>
  <%= yield %>
    <footer>
      <p>sub navigation goes here...</p>
      </footer>
  </body>
</html>