<!doctype html>
<html lang='en'>
  <head>
    <meta charst='utf-8'>
    <title>Calculator</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <header>
      <h1>My awesome calculator</h1>
    </header>
  <%= yield %>
    <footer>
      <p>sub navigation goes here...
      </footer>
  </body>
</html>